td,th{
    
    padding:0px 90px;
}
th{
    font-size: 30px;
}
td{
    font-size: 25px;
}
tr{
	height: 10px;
}
table{
	width:90%;
	border-collapse: collapse;
	/* margin:0px 5px; */
	margin: auto;
	
}

tr:nth-child(3),tr:nth-child(5),tr:nth-child(7){
	color:#9d9d9d;
	background-color:#e5e8ed;
	
}

tr:nth-child(even){
	color:#9d9d9d;
	
}

tr:nth-child(1){
	background-color:#c4cdd6;
}
h1{
    color:#f9a826;
}
section{
	width:90%;
	margin: auto;
	/* background-color: aquamarine; */
	padding-top: 20px;
}
form{
    width: 90%;
    margin: auto;
}